body {
    font-family: 'Roboto', sans-serif;

    line-height: 22px;
    font-weight: 300;
}
a {
    text-decoration: none;
    color: #07173D;
}
h1, h3 {
    font-weight: 500;
}
h3 {
    text-align: center;
    letter-spacing: 1px;

    display: block;
    grid-column: 1/4;
}
#res-heading {
    font-weight: 500;
    letter-spacing: 1px;
    padding-right: 5px;
}
h3#calc-h {
    font-size: 25px;
    color: #07173D;
}
header, footer {
    width: 85%;
    min-height: 20px;

    margin: 0 auto;
    padding: 10px 15px;

    text-align: center;

    color: #ffffff;
    background-color: rgb(42, 69, 134);
}

                                /* H E A D E R */
header {
    display: flex;
    position: fixed;

    top: 0;
    right: 0;
    left: 0;

    margin: 0 auto;

}
header div {
    flex-grow: 1;
}
.header-logo {
    background: url("img/polytechLogoInverted.png") no-repeat center;
    background-size: contain;
}

                                /* M A I N */
main {
    width: 75%;
    min-height: 200px;

    padding: 25px 35px;
    margin: 100px auto 60px auto;

    color: #07173D;
    background-color: #E7EDF7;
}

.ok {
    padding: 5px 10px;
    /*margin-top: 25px;*/
    /*margin-bottom: 15px;*/
    /*background-color: #afe954;*/
    font-weight: 300;
    /*color: #648530;*/
}
.err {
    /*padding: 10px 20px;*/
    /*margin-top: 25px;*/
    /*margin-bottom: 15px;*/
    /*background-color: #c93a5b;*/
    /*font-weight: bolder;*/
    color: #c93a5b;
    letter-spacing: 1px;
}


#result {
    padding: 15px;
    margin: 20px 0;
    border-left: 1px solid #b2bfda;
    border-top: 1px solid #b2bfda;
    background-color: #f3f7fd;
}

/* F O R M*/

form {
    width: 50%;
    margin: 0 auto;

    /*display: grid;*/

    /*grid-template-rows: repeat(12, 35px);*/
    /*grid-row-gap: 8px;*/
}

form input {
    display: inline-block;
    padding: 10px 15px;
    margin: 5px 0;
}

form input[type="text"] {
    width: 350px;
    margin-right: 10px;
}
form input[type='submit'] {
    /*width: 350px;*/
    background-color: rgba(42, 69, 134, 1);
    letter-spacing: 1px;
    color: #ffffff;
    border: none;
}

form input[type='submit']:hover {
    cursor: pointer;
    background-color: rgba(42, 69, 134, 0.85);

}

                                /* F O O T E R */
footer {
    /*display: flex;*/
    position: fixed;

    right: 0;
    bottom: 0;
    left: 0;

    margin: 0 auto;

    font-size: 12px;

    max-height: 300px;
    overflow-y: auto;

    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;

}

footer .err {
    color: #ffa5b9;
    font-weight: 400;
    letter-spacing: 0;
}

#history-block {
    padding: 2px;
    border: 1px solid #b2bfda;
}
/*footer #footer-container{*/
    /**/
/*}*/
